body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#testtext {
  color: white;
  border-radius: 8px;
  font-size: xx-large;
  cursor: pointer;
  transition-duration: 2s;
}

#testtext:hover {
    transform:rotate(360deg);
}